body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
	'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main {
	background: red;
	padding: 5vw;
}

section {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	text-align: center;
	
	&:first-of-type { background: blue; }
}